name: 'eks_setup'

on:
    workflow_dispatch:
        inputs:
            action:
                description: 'Action to perform'
                required: true
                default: 'create-cluster'
                type: choice
                options:
                    - create-cluster
                    - delete-cluster

permissions:
    contents: read
    pull-requests: write

env:
    AWS_ACCESS_KEY_ID : ${{ secrets.AWS_ACCESS_KEY_ID}}
    AWS_SECRET_ACCESS_KEY : ${{ secrets.AWS_SECRET_ACCESS_KEY}}
    BUCKET_TF_STATE : ${{ secrets.BUCKET_TF_STATE}}

jobs:
    security-scan:
        runs-on: ubuntu-latest
        name: Security Scanning
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run Terrascan
              uses: tenable/terrascan-action@main
              with:
                iac_type: 'terraform'
                iac_version: 'v15'
                policy_type: 'aws'
                only_warn: true
                sarif_upload: true

            - name: Run Checkov
              uses: bridgecrewio/checkov-action@master
              with:
                directory: .
                framework: terraform
                output_format: sarif
                output_file_path: checkov-report.sarif
                soft_fail: true

    terraform:
        runs-on: ubuntu-latest
        needs: security-scan

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                terraform_version: 1.5.7

            - name: Terraform Init
              run: terraform init -backend-config="bucket=$BUCKET_TF_STATE" 
            
            - name: Terraform Format without checking
              run: terraform fmt     

            - name: Terraform Format
              run: terraform fmt -check

            - name: Terraform validate
              run: terraform validate

            - name: Terraform Plan
              run: terraform plan -input=false

            - name: Terraform Apply
              run: | 
                if [ "${{ github.event.inputs.action }}" == "create-cluster" ]; then terraform apply -auto-approve  
                elif [ "${{ github.event.inputs.action }}" == "delete-cluster" ]; then terraform destroy -auto-approve -input=false
                else
                echo "Invalid action"
                exit 1
                fi